<select
  class="select-box"
  (change)="changeItem($event.target.value)"
>
  <option value="null">{{allValue}}</option>
  <ng-container *ngFor="let category of items">
    <option [value]="category">{{category}}</option>
  </ng-container>
</select>
