<div class="header">
  <app-category-select
    allValue="Все категории"
    [items]="categories"
    (itemSelected)="changeCategory($event)"
  ></app-category-select>
  <app-category-select
    allValue="Все вхождения"
    [items]="categoryItems"
    (itemSelected)="changeCategoryItems($event)"
  ></app-category-select>
</div>
<div class="canvas-box">
  <canvas #canvas></canvas>
</div>
<div *ngIf="items" class="footer">
  <div>Month: {{monthBalance}}</div>
  <button
    class="open-button"
    [style.visibility]="currentCategoryItemString !== 'all' ? 'visible' : 'hidden'"
    (click)="btnClick()"
  >open</button>
  <div>Total: {{balance}}</div>
</div>
