.header {
  display: flex;
  justify-content: space-between;
}

.canvas-box {
  padding: 10px;
  height: 250px;
  width: calc(100% - 20px);

  canvas {
    height: 100%;
    width: 100%;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .open-button {
    background: #eee;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px 30px;
  }
}
