<div
  class="graphic-box"
  *ngIf="mappedCompanies$ | async as companies"
>
  <div *ngIf="companies.error?.message">
    <div class="alert alert-danger" role="alert">
      Some error occurred. Please try again
    </div>
  </div>

  <app-graphic-viewer
    class="graphic"
    [items]="companies.companies"
    (onItemSelected)="selectItem($event)"
  ></app-graphic-viewer>
</div>
